/* small desktop */
/* scroll behavior */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
}

/* mobile styles */
@media only screen and (max-width: 768px) {
	#name {
		position:  fixed;
		bottom:  32px;
		right:  32px;
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		margin-block-start: 0em;
		margin-block-end: 0em;
		z-index: 4;
	}

	#content {
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		position: fixed;
		top:  32px;
		left:  32px;
		margin-block-start: 0em;
		margin-block-end: 0em;
		width: 341px;
	}

	a {
		text-decoration: none;
		color: black;
		background-color: rgba(238, 255, 0, 0.7);
	}

	a:hover {
		background-color: rgba(238, 255, 0, 1);
		opacity: 100%;
	}

	a:visited {
		color: black;
	}
}

/*tablet and desktop styles */
@media only screen and (min-width: 768px) {
	#name {
		position:  fixed;
		bottom:  32px;
		right:  32px;
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		margin-block-start: 0em;
	  margin-block-end: 0em;
	  z-index: 4;
	}

	#content {
		font-family: sans-serif;
		color: black;
		font-size: 2.625rem;
		position: fixed;
		top:  32px;
		left:  32px;
		margin-block-start: 0em;
	  margin-block-end: 0em;
		width: 590px;
	}

	a {
		text-decoration: none;
		color: black;
		background-color: rgba(238, 255, 0, 0.7);
	}

	a:hover {
		background-color: rgba(238, 255, 0, 1);
		opacity: 100%;
	}

	a:visited {
		color: black;
	}
}

/* large desktop styles */
@media only screen and (min-width: 1440px) {
	#name {
		position:  fixed;
		bottom:  32px;
		right:  32px;
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		margin-block-start: 0em;
	  margin-block-end: 0em;
	  z-index: 4;
	}

	#content {
		font-family: sans-serif;
		color: black;
		font-size: 3.4374rem;
		position: fixed;
		top:  32px;
		left:  32px;
		margin-block-start: 0em;
	  margin-block-end: 0em;
		width: 770px;
	}

	a {
		text-decoration: none;
		color: black;
		background-color: rgba(238, 255, 0, 0.7);
	}

	a:hover {
		background-color: rgba(238, 255, 0, 1);
		opacity: 100%;
	}

	a:visited {
		color: black;
	}
}
