/* small desktop */
/* scroll behavior */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
}

/* links */
a {
	text-decoration: none;
	color: black;
	background-color: rgba(238, 255, 0, 0.7);
}

a:hover,
a:focus {
	background-color: rgba(238, 255, 0, 1);
	opacity: 100%;
}

a:visited {
	color: black;
}

/* small mobile styles */
@media only screen and (max-width: 375px) {
	#name {
		position:  fixed;
		bottom:  16px;
		right:  16px;
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		margin-block-start: 0em;
		margin-block-end: 0em;
	}

	#content {
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		position: fixed;
		top:  16px;
		left:  16px;
		right: 16px;
		margin-block-start: 0em;
		margin-block-end: 0em;
		width: auto;
	}
}

/* mobile styles */
@media only screen and (min-width: 375px) {
	#name {
		position:  fixed;
		bottom:  16px;
		right:  16px;
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		margin-block-start: 0em;
		margin-block-end: 0em;
	}

	#content {
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		position: fixed;
		top:  16px;
		left:  16px;
		margin-block-start: 0em;
		margin-block-end: 0em;
		width: 353px;
	}
}

/*tablet and desktop styles */
@media only screen and (min-width: 768px) {
	#name {
		position:  fixed;
		bottom:  32px;
		right:  32px;
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		margin-block-start: 0em;
	  margin-block-end: 0em;
	}

	#content {
		font-family: sans-serif;
		color: black;
		font-size: 2.625rem;
		position: fixed;
		top:  32px;
		left:  32px;
		margin-block-start: 0em;
	  margin-block-end: 0em;
		width: 590px;
	}
}

/* large desktop styles */
@media only screen and (min-width: 1440px) {
	#name {
		position:  fixed;
		bottom:  32px;
		right:  32px;
		font-family: sans-serif;
		color: black;
		font-size: 1.625rem;
		margin-block-start: 0em;
	  margin-block-end: 0em;
	}

	#content {
		font-family: sans-serif;
		color: black;
		font-size: 3.4374rem;
		position: fixed;
		top:  32px;
		left:  32px;
		margin-block-start: 0em;
	  margin-block-end: 0em;
		width: 770px;
	}
}
